# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test files
/test_files/
/samples/

*.dxf
*.dxb
*.dwg
*.svg


# Documentation
/docs/site/

/ACadSharp-master/